data/

__pycache__/
*.pyc

site/
src/ragcoach.egg-info/dependency_links.txt
src/ragcoach.egg-info/PKG-INFO
src/ragcoach.egg-info/requires.txt
src/ragcoach.egg-info/SOURCES.txt
src/ragcoach.egg-info/top_level.txt
.DS_Store
