# data/

__pycache__/
*.pyc

site/
src/ragcoach.egg-info/dependency_links.txt
src/ragcoach.egg-info/PKG-INFO
src/ragcoach.egg-info/requires.txt
src/ragcoach.egg-info/SOURCES.txt
src/ragcoach.egg-info/top_level.txt
.DS_Store

*.json
data/questions.txt
data/вопросыОАИП.txt
data/uploads/Лекция 01.pdf
data/uploads/Лекция 02.pdf
data/uploads/Лекция 03.pdf
data/uploads/Лекция 04.pdf
data/uploads/Лекция 05.pdf
data/uploads/Лекция 06.pdf
data/uploads/Лекция 07.pdf
data/uploads/Лекция 08.pdf
data/uploads/Лекция 09.pdf
